<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <nav><a href="/category/add">Add Categories</a></nav>
        <body><a href="/cheese/add">Add Cheese</a></body>
        <title th:text="${title}"></title>


        <h1 th:text="${title}"> default title </h1>
        <p th:unless="${menus} and ${menus.size()}"> no menus : (</p>


        <ul>
            <li th:each="menu : ${menus}" >
                <a th:href="'/menu/view/'+ ${menu.id}" th:text="${menu.name}"></a>
            </li>

        </ul>

        <nav><a href="/menu/add">Add Menu</a></nav>
    </body>
</html>